
body{
	padding:0;
	margin:0;
}

header{
	background:linear-gradient(45deg, #0e3fb1 0%,#03ff96 100%);

}

header h1{
	margin: 0px 16px 16px 16px;
	font-family:sans-serif;
	text-align:center;
	padding-top: 16px;
}

header h1 a{
	text-decoration:none;
}

header p{
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	color: #ffffff;
	
	margin:0;
	text-align:center;
	margin: 0;
	background-color:#666666;
}
h1,h2,h3,h4{
	font-family:sans-serif;
}
blockquote{
background-color:#ccc;
padding:32px;
border:1px dashed #aaaaaa

}
blockquote em{
	font-family:sans-serif;
}
h1 a:hover{
text-decoration:underline;
}

nav a{
font-family:sans-serif;
display:block;
text-decoration:none;
color:#000000;
padding:8px 16px 8px 16px;
background-color:#aaaaaa;
text-align:center;

}
nav ul{
	justify-content:space-around;
	display:flex;
	margin:0;
	list-style:none;
	color:red;
	padding:0;
	flex-direction:row;
}
nav ul li{
	background-color:#aaaaaa;
}
nav ul li{
	flex-grow:1;
}
nav ul a{
	display:block;
	text-decoration:none;
}
nav ul li a:hover{
	background-color:rgba(27, 126, 232, 0.768);
	font-size: 120%;
	transition-duration: 0.5s;
}
footer{
	background:linear-gradient(45deg, #0e3fb1 0%,#03ff96 100%);
	border-top:2px solid #000000;
	color:#ffffff;
	padding:8px 0 8px 0;
	text-align:center;
}
footer p{
	margin:0;
	color:black;
}
@keyframes mover {
  from {left: 0px;}
  to {right: 200px;}
}
footer h2{
	animation-name: mover;
	animation-duration: 2s;
	color:black;
}
main{
	padding:0 32px 0 32px;
}
main img{
	box-shadow: 5px 5px 10px grey;
}

html,body{
margin:0;
padding:0;
}
.error{
color:red;
}
#titulo_juego{
border-bottom:2px solid #00cc00;
}
#contact-main{
padding:32px;
}
#contact-main h2{
    
    text-transform: uppercase;
    font-family: verdana;
    text-align:left;
    font-weight: 700;
    color: #000000;
}
#contact-main form p{
/*border:1px solid #000000;*/
display:flex;
padding:12px 0 12px 0;
margin:0;
}
#contact-main form label {
width:128px;
}

#game-page header{
	background-color:red;
}
#character_list{
display:flex;
padding:0;
margin:0;
list-style:none;
}

#character_data ul {
margin:0;
}

#character_list button{
border: solid;
padding:8px;
border-radius: 16px;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
background-color:#ccc;
}
#character_data{
background-color:#ccc;
min-height:400px;
}
#character_list button:hover{
background-color:#aaa;
}
main button{
border:0;
background-image: linear-gradient(150deg,#9500ff, #09f,#00DDFF);
border-radius:8px;
color:#fff;
display:flex;
font-size: 18px;
padding:4px;
cursor:pointer;
transition: .3s;
}
main button span{
background-color: #111;
padding: 16px 24px;
border-radius: 6px;
transition:.3s;
}
main button:hover span{
background: none;
}
main button:active{
transform: scale(0.9);
}

